@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
a{
  text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-slide {
  min-width: 300px;
}

.side-bar::-webkit-scrollbar {
  width: 2px;
}

.side-bar {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: #171633;
}

.side-bar:hover {
  scrollbar-width: inherit !important;
}

.line {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}
.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}